DATABASE_URL=sqlite
MAIL_SERVER = smtp.gmail.com
MAIL_PORT = 25
MAIL_USE_TLS = true
MAIL_USE_SSL = false
MAIL_USERNAME =username
MAIL_PASSWORD = password
DATABASE_TYPE=sqlite
DATABASE_URL=sqlite:///overtime.db
MYSQL_HOST=localhost
MYSQL_PORT=5432
MYSQL_USER=your_username
MYSQL_PASSWORD=your_password
MYSQL_DB=your_database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_database
SUPERBASE_URL=your_supabase_url
SUPERBASE_KEY=your_supabase_key