.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/
instance/*
*.db
*.sqlite3
*.log
.DS_Store
.idea/
.vscode/
node_modules/
*.env
coverage/
.pytest_cache/
migrations/versions/*.py
*.iml
*.env.*
*.pem
*.key
*.crt
